.about {
  min-height: 100vh;
  width: 850px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  width: 60%;
}

.sentence {
  margin: 0;
  margin-bottom: 30px;
  color: var(--secondary-color);
}

.name {
  margin: 0 0 30px 0;
  font-size: 5rem;
  color: var(--text-color);
}

.introduction {
  margin: 0 0 30px 0;
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}

.resume-btn {
  text-decoration: none;
  width: 150px;
  height: 50px;
  font-size: 1.2rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--main-color);
  font-family: "Share Tech Mono", monospace;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  width: 35%;
}

.img-container {
  width: 300px;
  height: 300px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  position: relative;
}

.img-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: translate(10px, 10px);
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
  transition: 0.3s;
}

.img-container:hover.img-container:before {
  transform: translate(-10px, -10px);
}

.intro-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  filter: url("#teal-white");
  opacity: 0.5;
  transition: 0.3s opacity;
}

.intro-image:hover {
  opacity: 1;
}

@media (max-width: 800px) {
  .about {
    width: 80vw;
    flex-direction: column;
    margin: 75px;
    height: auto;
    justify-content: flex-start;
  }

  .left-side,
  .right-side {
    width: 100%;
    text-align: center;
  }

  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sentence,
  .name,
  .introduction {
    width: 100%;
  }

  .resume-btn {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .intro-image {
    z-index: -10;
  }
}

@media (max-width: 500px) {
  .sentence {
    font-size: 0.8rem;
  }

  .name {
    font-size: 3rem;
  }

  .introduction {
    font-size: 1rem;
  }

  .resume-btn {
    width: 120px;
    height: 40px;
    font-size: 1rem;
  }
}
