.navbar {
  /* background-color: lightblue; */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  padding: 30px;
  box-sizing: border-box;
  text-align: right;
  color: white;
  background-color: var(--main-color);
  z-index: 10;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: var(--main-color);
}

.menu-tiem {
  list-style: none;
  margin-left: 30px;
  font-size: 0.82rem;
}

.menu-tiem:first-child {
  margin-left: auto;
}

.menu-link {
  color: var(--text-color);
  text-decoration: none;
}

.menu-num {
  color: var(--secondary-color);
}

.fa-bars,
.fa-times {
  position: fixed;
  font-size: 40px;
  top: 25px;
  right: 25px;
  color: var(--secondary-color);
  display: none;
}

@media (max-width: 600px) {
  .menu {
    background-color: var(--main-color);
    box-sizing: border-box;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 80vw;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    transform: translateX(100vw);
    transition: 0.5s transform;
  }

  .menu.open {
    transform: translateX(0);
  }

  .menu::before {
    content: "";
    position: fixed;
    top: 0;
    left: -20vw;
    width: 20vw;
    height: 100vh;
    background-color: var(--main-color);
    opacity: 0.8;
  }

  .menu-tiem {
    margin: auto;
    font-size: 1.5rem;
  }

  .fa-bars,
  .fa-times {
    display: block;
    cursor: pointer;
  }
}
